{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
<body>
<h2>Gérer les campus</h2>
<h3>Filtrer les campus</h3>

<section>
    <form action="#">
        <div class="flexbox-container">
            <div class="row">
                <label for="name">Le nom contient: </label>
                <input id="name" type="search">
            </div>

            <div class="search-btn">
                <div class="row">
                    <input type="submit" class="btn" value="Rechercher">
                </div>
            </div>
        </div>
    </form>
</section>


<section class="tableBox">
    <table>
        <thead>
        <tr id="headColor">
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('modifyCampus', {'id': campus.id}) }}"><button>Modifier</button></a>
                    <a href="{{ path('deleteCampus', {'id': campus.id}) }}"><button>Supprimer</button></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            {{ form_start(campusForm) }}
            <td>{{ form_row(campusForm.nom) }}</td>
            <td>{{ form_row(campusForm.add) }}</td>
            {{ form_end(campusForm) }}
        </tr>
        </tbody>
    </table>
</section>
{% endblock %}
