{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}



{% block body %}


    {% for message in app.flashes('success') %}
        <div class="messageSuccess">
            Bonjour {{ message }}
        </div>
    {% endfor %}
{{ participant.id }}


    <h2>Filtrer les sorties</h2>
    <section>
            {{ form_start(rechercheForm) }}

            <div class="flexBlocColumns">
                <div class="column1">
                    <div class="row">
                        {{ form_row(rechercheForm.campus)}}

{#                        <label for="campus">Campus</label>#}
{#                        <input id="campus" type="select">#}
                    </div>

                    <div class="row">
                        {{ form_row(rechercheForm.nomContient)}}

{#                        <label for="tripName">Le nom de la sortie contient:</label>#}
{#                        <input type="search" id="tripName" placeholder="search">#}
                    </div>

                    <div id="fromTo" class="row">
                        <div>
                            {{ form_row(rechercheForm.dateDebut)}}

{#                            <label for="form">Entre</label>#}
{#                            <input id="form" type="date">#}
                        </div>
                        <div>
                            {{ form_row(rechercheForm.dateFin)}}

{#                            <label id="spaceTo" for="to">et</label>#}
{#                            <input id="to" type="date">#}
                        </div>
                    </div>
                </div>

                <div class="column2">
                    <div class="row">
                        {{ form_row(rechercheForm.organisateur)}}

{#                        <input id="check1" type="checkbox">#}
{#                        <label for="check1"> Sorties dont je suis l'organisateur/trice</label>#}
                    </div>
                    <div class="row">
                        {{ form_row(rechercheForm.inscrit)}}

{#                        <input id="check2" type="checkbox">#}
{#                        <label for="check2"> Sorties auxquelles je suis inscrit/e</label>#}
                    </div>
                    <div class="row">
                        {{ form_row(rechercheForm.pasInscrit)}}

{#                        <input id="check3" type="checkbox">#}
{#                        <label for="check3"> Sorties auxquelles je ne suis pas inscrit/e</label>#}
                    </div>
                    <div class="row">
                        {{ form_row(rechercheForm.sortiesPassees)}}

{#                        <input id="check4" type="checkbox">#}
{#                        <label for="check4"> Sorties passées</label>#}
                    </div>
                </div>

                <div class="submitBtn">
                    {{ form_row(rechercheForm.submit)}}

{#                    <div class="row">#}
{#                        <input type="submit" class="btn" value="Enregister">#}
{#                    </div>#}
                </div>
            </div>
            {{ form_end(rechercheForm) }}

    </section>



    <section class="tableBox">
        <table>
            <thead>
            <tr id="headColor">
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/Y")  }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>nombre dynamique /{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>X</td>
                <td>ilyes</td>
                <td>
                    <a href="{{ path('showSortie', { 'id': sortie.id }) }}">Afficher</a>
                    <a href="{{ path('modifySortie', { 'id': sortie.id }) }}">Modifier</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>

    <div id="createTripBtn">
        <div class="row">
            <a href="{{ path('addSortie') }}"><button class="btn">Créer une sortie</button></a>
        </div>
    </div>
    <div class="js-filter-pagination">
        {{ knp_pagination_render(sorties) }}
    </div>

{% endblock %}
