<nav class="".topnav>
    <div class="logo">
        <a href="{{ path('home') }}"><img class="logoSite" src="{{ asset('img/logo.png') }}" alt=""></a>
    </div>
    <div class="contItems">
        <a class="items" href="{{ path('home') }}">Accueil</a>
        <a class="items" href="{{ path('ville') }}">Villes</a>
        <a class="items" href="">Campus</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="items" href="{{ path('myProfile')}}">Mon profil</a>
            <a class="items" href="{{ path('app_logout') }}">Se déconnecter</a>
        {% endif %}
        <!-- Logo menu -->
        <img src=" {{ asset('img/menu.svg') }}" alt="logo menu" class="logoMenuImg">

    </div>
</nav>

